.row{
    margin-left: calc(-8.5 * var(--bs-gutter-x));
}

.nav-item:hover .dropdown-menu{
    display: block;
}


/* CSS for introduce */
.introduce{
    width: 100%;
    height: 700px;
}

.introduce--header{
    width: 100%;
    height: 160px;
    margin-top: 80px;
    text-align: center;
}

.introduce--header>p{
    font-weight: 600;
    line-height: 14px;
    font-size: 27px;
    text-transform: uppercase;
    border: none solid rgb(62,62,61);
}

.introduce--card{
    width: 100%;
    height: 540px;
}

.introduce--card1{
    margin: 0 auto;
    width: 75%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.form-register{
    width: 100%;
    height: 950px;
}


