/* CSS for ALL */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



/* CSS for Header */
ul li{
    list-style: none;
    color: #333;
}
#header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 2px -2px gray;
    z-index: 99;
}
#header .header-inner{
    width: 95%;
    display: flex;
    box-sizing: border-box;
}

#header .header-inner .logo{
    /* background-color: coral; */
    width: 20%;
    height: 100%;
    align-items: center;
}

.logo img{
    max-width: 90%;
    max-height: 90%;
    margin: 5px 20px;
}

#header .header-inner .nav{
    /* background-color: aquamarine; */
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.main-menu>li{
    width: fit-content;
    margin-right: 40px;
    padding: 5px;
    position: relative;
}

.main-menu>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #020516;
    font-weight: 600;

}

.main-menu>li>a.active{
    color: #0b249e;
    text-shadow: 0.1px 0px #FF0000;
}


.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #F4F4F4;
    padding: 5px;
    width: max-content;
    z-index: 100;
}

.sub-menu>li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #020516;
}

.sub-menu{
    display: none;
    text-decoration: none;
}

.sub-menu>li>a{
    text-decoration: none;
    color: #020516;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}


/* CSS for slider */

.slider{
    width: 100%;
    height: 600px;
    position: relative;
}

.slide-item{
    width: 100%;
    height: 100%;
}

.slide-item img{
    width: 100%;
    height: 100%;
}

span .fa-chevron-left{
    width: 40px;
    height: 30px;
    font-size: 50px;
}

.slider span{
    top: 0;
    left: 0;
}




/* CSS for Main */